/*Globales*/
body{
    background-color:lightyellow;
    padding: 50px 80px 50px 80px; 
}
a.btn-volver{
    border: 2px solid #050C50;
    padding:5px 10px;
    color:white;    
    background-color: blue;
    text-decoration: none;
    font-weight: bold;
}
a.btn-volver:hover{
    border: 2px solid blue;
    background-color: #050C50;
}

/*Indice*/
body.indice div > h1.titulo-principal{
    color:brown;
    text-decoration: underline; 
}
body.indice div > h2.curso{
    color:blue
}
body.indice div > h3.alumno{
    color:red
}
body.indice div > ul.lista-ejercicios > li{
    color:red
}

/*Ejercicio2*/
body.ej2 div > h1{
    color:red
}
body.ej2 div.divGato:not(:first-of-type){
    margin-left:100px;
}
body.ej2 div.divGato{
    display:block;
    border: 5px black dashed;
    border-radius: 5%;
    padding:40px;
    text-align: center;
    float:left;
    background-color: aquamarine;
}
body.ej2 div.divGato img{
    display:block;
    border-radius: 50%;
    margin-bottom: 15px;
    border: 4px green solid;
}

/*Ejercicio3*/
body.ej3 h1.fnt-red{
    color:red;
}
body.ej3 .fnt-blue{
    color:blue;
}
body.ej3 #nombre_alumno{
    color:red;
    text-decoration:underline;
}
/*Ejercicio3b*/
body.ej3b .titulo{
    color:#0BB9F0;
    font-size:30px;
    font-style: italic;
}
body.ej3b .texto{
    color:#050C50;
    font-size:15px;
}
body.ej3b .destacado{
    font-style: italic;
    font-weight: bold;
}

/*Ejercicio4*/
body.ej4 a{
    display:block;
}
body.ej4{
    background-color:lightgrey;
    font-family: 'Quicksand', sans-serif;
}
body.ej4 div.itemBox{
    display: inline-block;
    border: 1px grey solid;
    width: 30%;
    padding:5px;
    border-radius:2%;
    background-color: white;
}

body.ej4 div.itemBox img{
    margin-bottom:15px;
    border-radius:2%;
}
body.ej4 div.itemBox div.infoBox{
    padding-left:15px;
    padding-right:15px;
}
body.ej4 div.itemBox div.infoBox span:first-of-type{
    font-weight: bold;
    padding-top:10px;
    font-size:20px;
}
body.ej4 div.itemBox div.infoBox span:not(first-of-type){
    font-size:16px;
}
body.ej4 div.itemBox div.infoBox p{
    font-size:14px;
}
body.ej4 div.infoIcons{
    display:inline-block;
    width:100%;
    padding-bottom:5px;
}
body.ej4 div.infoIcons div.barra{
    width: 2%; 
    display: inline-block;
    color:lightgrey;
    font-size:22px;
}
body.ej4 div.infoIcons div.fa-heart{
    /*Icono Corazon*/
    width: 43%;
    text-align:center;
    color:#E17168;
    font-size:24px;
}
body.ej4 div.infoIcons div.fa-comment-dots{
    /*Icono Commet/Bocadillo*/
    width: 43%;
    text-align:center;
    color:#68E1E1;
    font-size:24px;
}

body.ej4 div.itemBox p{
    color:grey;
}

/*Ejercicio4b*/
body#ej4b{
    padding: 0px 0px 0px 0px; 
}
body#ej4b div.header{
    height:40px;
    background-color: blue;
    text-align: center;
    font-weight:bold;
    text-transform: uppercase;
    color:white;
    position:fixed;
    top:0%;
    width: 100%;
    z-index:2
}
body#ej4b div.footer{
    height:40px;
    background-color:red;
    text-align: center;
    font-weight:bold;
    text-transform: uppercase;
    color:white;
    position:fixed;
    bottom:0%;
    width: 100%;  
    z-index:2  
}
body#ej4b p.txt-menus{
    margin-top:12px;
}
body#ej4b a.img-volver{
    margin-left:10%;
    margin-top:20%;
}
body#ej4b div.box-forever{
    height:300px;
    border: 5px solid #872121;
    background-color:#872121;
    color:white;
    width: 50%;
    margin-left:25%;
    margin-top:5%;
    position: relative;
    margin-bottom: 10%;
}
body#ej4b div.box-forever div.bola{
    border: 5px solid #872121;
    height:100px;
    width: 100px;
    border-radius: 50%;
    background-color:white;
}
body#ej4b div.box-forever div.bola-ad{
    position: absolute;
    top:-19%;
    left:-8%
}
body#ej4b div.box-forever div.bola-ai{
    position: absolute;
    top:-19%;
    right:-8%
}
body#ej4b div.box-forever div.bola-dd{
    position: absolute;
    bottom:-19%;
    left:-8%
}
body#ej4b div.box-forever div.bola-di{
    position: absolute;
    bottom:-19%;
    right:-8%
}
body#ej4b div.box-forever p {
    text-align: center;
    font-size:64px;
}
body#ej4b div.fondo-doble-color{
    border:1px solid black;
    width: 25%;
    margin-left:37%;
    border-radius:5px;
    padding: 50px 35px 50px 35px;
    margin-bottom: 10%;
    z-index:-2;
    background-color:cyan;
    position: relative;
}
body#ej4b div.fondo-doble-blanco{
    border-radius: 5px;
    width: 50%;
    height:222px;
    z-index:-1;
    background-color:white;
    position: absolute;
    top: 0;
    left: 0;
}

/*Ejercicio5*/
body#ej5 div.boxGeneral{
    width: 210px;
    margin:auto;
}
body#ej5 div.boxGeneral div.boxIndividual{
    display:inline-block;
    height:100px;
    width: 100px;
    font-size:60px;
    color:white;
    margin-top:3px;
}
body#ej5 div.boxGeneral div.boxIndividual i{
    margin:20px 20px;
}
body#ej5 div.boxGeneral div.bg-rojo{
    background-color: red;
}
body#ej5 div.boxGeneral div.bg-verde{
    background-color: green;
}
body#ej5 div.boxGeneral div.bg-azul{
    background-color: blue;
}
body#ej5 div.boxGeneral div.bg-negro{
    background-color:black;
}

/*Ejercicio7*/
body#ej7{
    background-color:white;
}
body#ej7 div.box-general{
    font-family: 'Quicksand', sans-serif;
    font-weight: 600
}
body#ej7 div.div-izquierdo{
    margin-left: 26%;
    width: 19%;
    display: inline-block;
    background-color:white;
    color:#003c5c;
    height:260px;
}
body#ej7 div.div-izquierdo img{
    padding-bottom: 10px;
    padding-left: 1px;
    border:1px solid #c0c0c0;
}
body#ej7 div.div-izquierdo p{
    margin:0px;
    font-size:12px;
}
body#ej7 div.div-derecho{
    background-color: white;
    width: 28%;
    display: inline-block;
    color:#003c5c;
    height:260px;
}
body#ej7 div.div-derecho div.datos-factura p{
    margin:0px;
    text-align: right;
    margin-right:18%;
    font-size:14px;
    font-weight: 600
}
body#ej7 div.div-derecho div.datos-factura hr{
    width: 210px;
    margin-right:60px;
    border-color:#99e0be;
    background-color:#99e0be;
    height:1px;
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
}
body#ej7 div.div-derecho div.datos-cliente{
    border-left: 8px solid #99e0be;
    border-right: 8px solid #99e0be;
    padding: 10px 0px 0px 0px;
}
body#ej7 div.div-derecho div.datos-cliente h3{
    margin-top:0px;
    margin-bottom:4px;
    margin-left:18px;
}
body#ej7 div.div-derecho div.datos-cliente p{
    margin:0px;
    font-size:12px;
    margin-left:18px;
}
body#ej7 div.box-general div.div-tabla{
    height:200px;
    width: 48%;
    margin-left:26%; 
}

/*tabla1*/
body#ej7 div.box-general div.div-tabla table.tabla1{
    border-bottom: 3px solid #99e0be;
    font-size:14px;
}
body#ej7 div.box-general div.div-tabla table.tabla1 td{
    color:#003c5c;
}
body#ej7 div.box-general div.div-tabla table.tabla1 th{
    font-size:16px;
}
body#ej7 div.box-general div.div-tabla table.tabla1 th:first-child{
    text-align: left;
    width: 48%;
}
body#ej7 div.box-general div.div-tabla table.tabla1 th:nth-child(3){
    text-align: right;
}
body#ej7 div.box-general div.div-tabla table.tabla1 th:last-child{
    text-align: right;
    width: 19%;
}
body#ej7 div.box-general div.div-tabla table.tabla1 td:nth-child(3){
    text-align: right;
}
body#ej7 div.box-general div.div-tabla table.tabla1 td:last-child{
    text-align: right;
}
body#ej7 div.box-general div.div-tabla table.tabla1 td:not(:first-child){
    padding-bottom: 20px;
}
/*tabla2*/
body#ej7 div.box-general div.div-tabla table.tabla2 {
    border-bottom: 5px solid #99e0be;
    background-color: white;
    color:#003c5c;
}
body#ej7 div.box-general div.div-tabla table.tabla2 tr td{
    text-align:right;
}
body#ej7 div.box-general div.div-tabla table.tabla2 tr:last-child td{
    font-size: 20px;
}
body#ej7 div.box-general div.div-tabla p{
    margin-top: 10px;
    font-size:14px;
    color:#003c5c;
}

/*Ejercicio8*/
body.ej8 div.campo{
    width:650px;
    margin:auto;
}
body.ej8 div.campo div.fila div{
    border:1px solid grey;
    background-color:grey;
    height:100px;
    width: 100px;
    display:inline-block;
}
body.ej8 div.campo div.fila div:hover{
    border:1px solid green;
    background-color:green;
    height:100px;
    width: 100px;
    display:inline-block;
}
body.ej8 div.campo div.fila div.mina:hover{
    border:1px solid red;
    background-color:red;
    height:100px;
    width: 100px;
    display:inline-block;
}
body.ej8 div.campo div.fila div.mina i.fa-bomb{
    float: left;
    font-size:80px;
    margin-left: 12px;
    margin-top: 12px;    
    visibility:hidden;
}
body.ej8 div.campo div.fila div.mina:hover i.fa-bomb{
    color:yellow;
    float: left;
    font-size:80px;
    margin-left: 12px;
    margin-top: 12px;
    visibility:visible;
}

/*Ejercicio9*/
body.ej9{
    font-family: 'Oldenburg', cursive;
    font-size:1.5em;
}
body.ej9 p::first-letter{
    font-size:3em;
}
body.ej9 p::first-line{
    color:#872121;
}

/*Ejercicio10*/
body.ej11 div.divGeneral{
    height:4000px;
    border:1px solid black;
}
body.ej11 div.divGeneral div.bgrey{
    border:1px solid grey;
}
body.ej11 div.divGeneral div.bgrey a{
    color:yellow;
}
body.ej11 div.divGeneral div.mil{
    border:1px solid green;
    background-color:green;
    height:1000px;
}
body.ej11 div.divGeneral div.mil2{
    height:1000px;
    border: 1px solid red;
    background-color:red;
}
body.ej11 div.divGeneral div.mil3{
    height:1000px;
    border: 1px solid blue;
    background-color:blue;
}
body.ej11 div.divGeneral div.mil4{
    height:1000px;
    border: 1px solid brown;
    background-color:brown;
}

/*Ejercicio12*/
body.ej12 div.divGeneral{
    border: 1px solid black;
    width: 50%;
    margin:auto;
    padding:20px;
}
body.ej12 div.divGeneral div.datosGenerales-otros span{
    color:blue;
    font-weight:bold;
}
body.ej12 div.divGeneral div div p{
    color:blue;
    font-weight:bold;
}
body.ej12 div.divGeneral div.input-full-large p{
    width:11%; 
    display:inline-block; 
    margin: 3px 0px;
}
body.ej12 div.divGeneral div.input-full-large input{
    width:85%;
}
body.ej12 div.divGeneral div.input-full-large-poblacion{
    width: 49%; 
    display: inline-block;
}
body.ej12 div.divGeneral div.input-full-large-poblacion p{
    width:23%; 
    display:inline-block; 
    margin: 3px 0px;
}
body.ej12 div.divGeneral div.input-full-large-poblacion input{
    width:70%;
}
body.ej12 div.divGeneral div.input-full-large-cpostal{
    width: 49%; 
    display: inline-block;
}
body.ej12 div.divGeneral div.input-full-large-cpostal p{
    width:20%; 
    display:inline-block; 
    margin: 3px 0px;
}
body.ej12 div.divGeneral div.input-full-large-cpostal input{
    width:74%;
}
body.ej12 div.divGeneral div.datosGenerales-edad{
    width: 48%; 
    display:inline-block;
    margin-top:25px;
}
body.ej12 div.divGeneral div.datosGenerales-otros{
    width: 48%; 
    display:inline-block;
}
body.ej12 div.divGeneral div.datosGenerales-otros select{
    display:block;
    margin-bottom: 7px;
}

/*Ejercicio13*/
body.ej13{
    padding:0px;
}
body.ej13 div.container{
    padding-top:50px;
}
body.ej13 div.container h3{
    margin:20px 0px;
}

/*Ejercicio14*/
body.ej14{
    padding:0px;
    background-color: white;
}
body.ej14 nav{
    background-color: lightgray;
}
body.ej14 div.container{
    padding-top:50px;
}
body.ej14 div.container h3{
    margin:20px 0px;
}
body.ej14 div.container hr{
    border-color:#828080;
}
body.ej14 div.container div.card{
    border: 0px;
}
body.ej14 div.container div.d-flex p:first-child{
    color: red;
    font-weight: bold;
    font-size:24px;
}
body.ej14 div.container div.d-flex p:not(first-child){
    color: blue;
    font-weight: bold;
    font-size:22px;
}

/*Ejercicio15*/
 body.ej15 div.divgreen{
    background-color: green;
    color:white;
    font-size:10em;
}
body.ej15 div.divred{
    display:none;
}
@media (min-width: 800px) {
    body.ej15 div.divgreen{
        display:none;
    }    
    body.ej15 div.divred{
        display:block;
        background-color: red;
        color:white;
        font-size:10em;
    }
}

/*Ejercicio16*/
body.ej16 div.divgreen{
    background-color: green;
    color:white;
    text-align:center;
    font-weight:bold;
    margin-top:10px;
}
body.ej16 div.divred{
    background-color: red;
    color:white;
    margin-top:10px;
    text-align:center;
    font-weight:bold;
}

/*Ejercio17*/
body.ej17{
    font-family: 'Quicksand', sans-serif;
    padding:0px;
}
body.ej17 a img{
    padding-top: 50px; 
    margin-left:80px;
}
body.ej17 div.infoBox p{
    font-size: 14px;
    color:grey;
}
body.ej17 div.card{
    margin-top:30px;
}
body.ej17 div.card img{
    border: none;
    border-radius: 0.50rem;
}
body.ej17 div.card div.infoBox .fa-heart{
    color: #E17168;
    font-size: 24px;
}
body.ej17 div.card div.infoBox .fa-comment-dots{
    color: #68E1E1;
    font-size: 24px;
}

/*Ejercicio18*/
body.ej18 .datos{
    margin-bottom: 0.5rem;
}


/*
    EJERCICIOS JQUERY
*/
/*Ejercicio20*/
/*1*/
body.ej20 div.container div.ej1 div{
    height:100px;
    width:100px;
    background-color: grey;
    border-radius:50%;
}
body.ej20 div.circuloAmarillo{
    background-color: yellow !important;
}

/*1b*/
body.ej20 div.container div.ej1b div{
    height:100px;
    width:100px;
    background-color: grey;
    border-radius:50%;
}
body.ej20 div.circuloRojo{
    background-color: red !important;
}
/*5*/
body.ej20 ul.pagination a.page-link{
    background-color: #057bf1;
    border: 1px solid #dee2e6;
    color: white
}
/*6 Trio*/
div.ej6 div.circuloRosa{
    height:100px;
    width:100px;
    background-color: #EA47AD;
    border-radius:50%;
}

div.ej6 div.circuloRosa p.numeroCirculo{
   font-size:40px;
   color:white;
   font-weight:bold;
}



/*REACT*/
/*Ejercicio 24*/
body.ej24 .bola-roja{
    height:50px;
    width: 50px;
    border-radius:50%;
    display: inline-block;
    margin:5px;
    background-color:red;
}
body.ej24 .cuadrado-rojo{
    height:50px;
    width: 50px;
    display: inline-block;
    margin:5px;
    background-color:red;
}
body.ej24 .separador{
    margin-top:10px;
    height:4px;
    border-top:1px solid red;
    border-bottom: 3px solid black;
}















/*
****************
 MEDIAS QUERIES
****************
*/
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {}