<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>React - ejercicios</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/styles.css">

    <script src="https://unpkg.com/react@15/dist/react.min.js"> </script>
    <script src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
</head>

<body class="ej24">
    <div id="root"></div>
    <script type="text/babel">

    class Main extends React.Component {
        render() {
            return (
                <div>
                    <HolaMundo textmostrar="ReactJS ejercicios"/>
                    <Bola />
                    <Cuadrado />
                    <Divlineas />
                    <BolaX talla="80" margen="10px" fondo="#ff0000" />
                    <CuadradoB talla="70" margen="8px" grosor="5" color="red" />
                    <Mosca color="blue" />
                    <Capital nom="barcelona" />
                    <Gato ancho="200" alto="200" nombre="Garfield" />
                </div>
            );
        }
    }
    const HolaMundo= (props) => <h1>{props.textmostrar}</h1>;
    const Bola = () => <div className="bola-roja"></div>;
    /*const Bola; es igual a 
    function Bola(){
        return <div className="bola-roja"></div>;
    }
    */
    const Cuadrado = () => <div className="cuadrado-rojo"></div>; 
    const Divlineas = () => <div className="separador"></div>;
    function BolaX(props){
        return <div style=
        {
            {   width: props.talla, 
                height: props.talla, 
                margin: props.margen, 
                backgroundColor: props.fondo, 
                borderRadius: props.talla/2
            }
        } />
    }
    function CuadradoB(props){
        return <div style=
        {
            {   width: props.talla, 
                height: props.talla, 
                margin: props.margen,
                //border: "5px solid red"
                borderColor: props.color, 
                borderWidth: props.grosor, 
                borderStyle: "solid",
            }
        } />
    }    
    /*
    function Bolax(props){
        return <div style={
            {width: props.tallam height: props.talla, margin: porps.margen, backgroundColor: props.fondo, borderRadius: props.talla/2}
        } />;
    }*/
    function Mosca(props){
        return <i className="fas fa-dove" style=
        {
            {   color: props.color,
                fontSize: 40,
                position: "absolute",
                top: 10,
                left: 10
            }
        } />
    }    

    function Capital(props){
        props.nom1 = props.nom.charAt(0).toUpperCase();

        return <div>
                <span style={{fontSize: 200}}>{props.nom1}</span>
                <p style={{fontSize: 20, marginTop:0}}>{props.nom.charAt(0).toUpperCase()+props.nom.slice(1)}</p>
            </div>
    }   

    function Gato(props){

        let hrefImg = "http://placekitten.com/"+props.ancho+"/"+props.alto;
        return (
                <div style={{border: "1px solid blue", width: props.ancho}}>
                    <img src={hrefImg}/>
                    <p style={{fontSize: 20, marginTop:0 , textAlign:"center",}}>{props.nombre}</p>
                </div>  
                )
    }       
    ReactDOM.render( <Main  />, document.getElementById("root") );
        
</script>
</body>

</html>