div.ciudad {
    border: 1px solid black;
    padding: 10px;
    display: inline-block;
    text-align: center;
    background-color: beige;
  }
  
div.ciudad  p:first-child {
    font-size: 200px;
    margin: -50px 0;
}
div.ciudad p:last-child {
    font-size: 30px;
    margin:10px 0 0 0;
}